@mixin link-animation($flame: 20s) {
  animation: spin infinite $flame linear;
}

.container {
  position: relative;
  width: 100%;
  height: 80px;
  margin: 120px 0;
}

%link-style {
  color: #66ffff;
  position: absolute;
  font-size: 80px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@for $i from 1 through 10 {
  .link#{$i} {
    animation: Link-spin infinite #{$i * 0.5}s linear;
    @extend %link-style;
  }
}

@keyframes Link-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
