@mixin link-animation($flame: 20s) {
  animation: spin infinite $flame linear;
}

%link-style {
  color: #61dafb;
  position: absolute;
  font-size: 80px;
}

@for $i from 1 through 10 {
  .link#{$i} {
    animation: Link-spin infinite #{$i * 0.5}s linear;
    @extend %link-style;
  }
}

@keyframes Link-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
